<div class="repeat">
  <div class="repeat-head"><span class="meta">Certification</span><button class="ghost" type="button" data-remove>Remove</button></div>
  <div class="grid-3">
    <div>
      <label>Name</label>
      <input name="cert_name" type="text" value="{{ cert.name if cert else '' }}">
    </div>
    <div>
      <label>Issuer</label>
      <input name="cert_issuer" type="text" value="{{ cert.issuer if cert else '' }}">
    </div>
    <div>
      <label>Year</label>
      <input name="cert_year" type="text" value="{{ cert.year if cert else '' }}">
    </div>
  </div>
</div>
