<div class="repeat">
  <div class="repeat-head"><span class="meta">School</span><button class="ghost" type="button" data-remove>Remove</button></div>
  <div class="grid-2">
    <div>
      <label>School</label>
      <input name="edu_school" type="text" value="{{ edu.school if edu else '' }}">
    </div>
    <div>
      <label>Degree</label>
      <input name="edu_degree" type="text" value="{{ edu.degree if edu else '' }}">
    </div>
    <div>
      <label>Field</label>
      <input name="edu_field" type="text" value="{{ edu.field if edu else '' }}">
    </div>
    <div>
      <label>Start</label>
      <input name="edu_start" type="text" value="{{ edu.start if edu else '' }}">
    </div>
    <div>
      <label>End</label>
      <input name="edu_end" type="text" value="{{ edu.end if edu else '' }}">
    </div>
  </div>
  <label>Details</label>
  <input name="edu_details" type="text" value="{{ edu.details if edu else '' }}">
</div>
