<div class="repeat">
  <div class="repeat-head"><span class="meta">Project</span><button class="ghost" type="button" data-remove>Remove</button></div>
  <div class="grid-2">
    <div>
      <label>Name</label>
      <input name="proj_name" type="text" value="{{ project.name if project else '' }}">
    </div>
    <div>
      <label>URL</label>
      <input name="proj_url" type="url" value="{{ project.url if project else '' }}">
    </div>
  </div>
  <label>Description</label>
  <input name="proj_description" type="text" value="{{ project.description if project else '' }}">
  <label>Bullets (one per line)</label>
  <textarea name="proj_bullets">{% if project %}{% for bullet in project.bullets %}{{ bullet }}
{% endfor %}{% endif %}</textarea>
</div>
